    {% extends 'blog/base.html' %}

    {% block content %}
        {% for post in posts %}
            <div class="post">

                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.titulo }}</a></h1>
                <p>{{ post.texto|linebreaksbr }}</p>
                <p><b>Antigüedad:</b> {{ post.antiguedad }}</p>
                <p><b>Servicios:</b> {{ post.servicios }}</p>
                <p><b>Zona:</b> {{ post.zona }}</p>
                <p><b>Direccion:</b>{{ post.direccion }}</p> 
                <p><b>Alquiler:</b>{{ post.alquiler }}</p>
                <a href="media/{{ post.archivo }}" target="_blank"><img src="media/{{ post.archivo }}"></a>
          </div>
        {% endfor %}
    {% endblock %}