{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

        <title>Inmobiliaria Chango</title>
    </head>
    <body background-color="red">
<div class="page-header">
    <h1>Inmobiliaria Chango</h1>
    <p>En esta inmobiliaria te ofrecemos los mejores electrodomesticos con los mejores precios y los mejores descuentos. Nos encontras en nuestras sucursales de Berazategui, Quilmes y Capital desde las 8:30hs hasta las 21:30hs. Te esperamos!!</p>
    </div>

   <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% for casa in casas %}
                    <div class="post">
                        <div class="date">
                            {{ casa.precio }}
                        </div>
                        <h1><a href="">{{ casa.tipo }}</a></h1>
                        <p>{{ casa.descripcion|linebreaksbr }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </body>
</html>

